.sidebar {
  width: 200px;
  height: 80vh;
  background-color: beige;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  padding: 8px 0;
  position: fixed;
  left: 0;
  top: 8px;
  bottom: 8px;
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.sidebar-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 200ms ease, color 200ms ease;
  border-left: 4px solid transparent;
  color: #1d1d1d;
}

.sidebar-option:hover {
  background-color: #f2e5e5;
  color: #c9552a;
  border-left-color: #ff6b35;
}
.sidebar-options .active {
  background-color: #d8d2d1;
  border-left-color: #ff6b35;
}

.sidebar-option p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.sidebar-option span {
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-option span:hover {
    background-color: #fdbba2;
    padding: 4px;
    border-radius: 50%;
    color: black;
}

@media (max-width: 600px) {
  .sidebar {
    width: 100px;
  }

  .sidebar-option div {
    display: none;
  }

  .sidebar-option:hover div {
    display: block;
    font-size: 14px;
    font-weight: 500;
  }
}