
.navbar{
    background-color: rgb(211, 209, 209);
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: orangered;
    font-size: 32px;
    font-weight: 800;
}
.navbar-menu {
    margin-top: 10px;
    font-size: 18px;
    display: flex;
    color: rgb(39, 39, 39);
    justify-content: center;
    gap: 30px;
    letter-spacing: 1px;
}
.navbar-menu li:hover {
    color: rgb(7, 7, 135);
    transition: 0.3s;
}
.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.nav-search {
    font-size: 24px;
    color: rgb(39, 39, 39);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
    padding: 4px 8px;
    border: 1px solid orangered;
    border-radius: 5px;
}
.nav-search input {
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    margin-left: 5px;
}
input::placeholder {
    font-size: 14px;
}
input:focus::placeholder {
    color: transparent;
}
input:focus {
    width: 120px;
    transition: 0.3s;
}

.nav-login{
    border-radius: 10px;
    padding: 2px 10px;
    background-color: white;
    border: 1px solid orangered;
}
.nav-login button{
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
}
.nav-login:hover {
   background-color: #ece5aa;
}
.nav-cart {
    font-size: 24px;
    color: rgb(39, 39, 39);
    cursor: pointer;
}




