
.add {
    width: 70%;
    margin-left: max(5vw, 25px);
    color: #181717;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}
.add form {
    gap: 20px;
}
.add-image-upload .upload{
    width: 160px;
    border: 2px solid orange;
    border-radius: 4px;
    padding: 12px 6px;
}




