
.footer {
    text-align: center;
    padding: 20px 8px;
    background-color: #2a2a27;
    color: #f3efef;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer p {
    color: #f1ecec;
}
.footer-content {
   display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 40px;
}
.footer-content p {
    margin: 0;
    font-size: 14px;
    color: #f1ecec;
}
.footer-content-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 1px;
}
.footer-content-left h2 {
    margin: 0;
    font-size: 20px;
    color: #ff6b35;
}
.footer-content-left span {
    font-size: 20px;
}
.footer-content-left p {
    max-width: 400px;
    line-height: 1.6;
}
.footer-content-left p span {
    color: #ff6b35;
}
.footer-content-left p .mini-span {
    color: #ece9e8;
}
.footer-social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.footer-social-icons img {
    width: 24px;
    height: 24px;
}

.footer-content-center {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer-content-center h3 {
    margin: 0;
    font-size: 18px;
    color: rgb(246, 135, 135);
    letter-spacing: 1px;
}
.footer-content-center ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer-content-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer-content-right h3 {
    margin: 0;
    font-size: 18px;
    color: rgb(246, 135, 135);
    letter-spacing: 1px;
}
.footer hr {
    width: 90%;
    border: 0;
    border-top: 2px solid #ede9e9;
    margin: 20px 0;
}

@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .footer-content-left, .footer-content-center, .footer-content-right {
        align-items: center;
        text-align: center;
    }
}