.login-popup {
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: rgba(210, 192, 192, 0.124);
    display: grid;
}
.login-popup-container {
    place-self: center;
    width: max(23vw,  400px);
    color: chocolate;
    background-color: beige;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 36px;
    border-radius: 8px;
    font-size: 16px;
    animation: fadeIn 0.5s;
}
.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-popup-title h2 {
    letter-spacing: 1px;
    border-bottom: 2px solid orangered;
    border-radius: 4px;
}
.login-popup-title p {
    background-color: rgba(222, 184, 135, 0.767);
    border-radius: 50%;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
}
.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-inputs input {
    padding: 6px 8px;
    border-radius: 4px;
    border: none;
}
input::placeholder {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
input {
    outline: 1px solid orangered;
}
input:focus{
    outline: none;
    border: 2px solid saddlebrown;
}



