.login-popup {
    position: absolute;
    z-index: 11;
    top: 16px;
    width: 98%;
    height: 100%;
    background-color: rgba(210, 192, 192, 0.238);
    display: grid;
}
.login-popup-container {
    place-self: center;
    width: max(23vw,  400px);
    color: chocolate;
    background-color: rgb(250, 216, 167);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 36px;
    border-radius: 8px;
    box-shadow: 6px -4px 10px #f3854a;
    font-size: 16px;
    animation: fadeIn 0.5s;
}
.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-popup-title h2 {
    letter-spacing: 1px;
    border-bottom: 2px solid orangered;
    border-radius: 4px;
}
.login-popup-title p {
    background-color: rgba(222, 184, 135, 0.767);
    border-radius: 50%;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
}
.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-inputs input {
    padding: 6px 8px;
    border-radius: 4px;
    border: none;
}
input::placeholder {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
input {
    outline: 1px solid orangered;
}
.sign-login{
    font-size: 18px;
    font-weight: 600;
    background-color: #e07136;
    color: antiquewhite;
    padding: 10px 16px;
    border-radius: 8px;
}
.sign-login:hover {
    background-color: #c35920;
    transform: translateY(-4px);
}
.login-popup-condition {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
p {
    color: rgb(20, 19, 19);
    letter-spacing: 1px;
}
.color-login-sign {
    color: orangered;
    cursor: pointer;
}

@media (max-width: 768px) {
    .login-popup-container {
        width: max(23vw,  400px);
        padding: 20px 24px;
        gap: 20px;
    }
    .login-popup-title h2 {
        font-size: 18px;
    }
    .sign-login {
        font-size: 16px;
        padding: 8px 12px;
    }
}


