.explore-menu-container {
    padding: 40px 0;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin: 0 auto;
}
.explore-menu {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.explore-menu h1 {
    font-size: 32px;
    color: #1b1a1a;
    text-align: center;
}
.explore-menu-text {
    text-align: center;
    color: #3a3939;
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 70%;
    margin: 0 auto;
}

.explore-menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}
.explore-menu-item {
    cursor: pointer;
    width: 160px;   
    height: 200px;
    flex: 1 1 calc(25% - 24px);
    max-width: calc(25% - 24px);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}
.explore-menu-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}
.explore-menu-item-card {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: box-shadow 200ms ease, transform 200ms ease;
}
.explore-menu-item-card img {
    width: 50%;
    height: auto;
    border-radius: 8px;
}
.explore-menu-item-card h3 {
    margin-top: 12px;
    letter-spacing: 1px;
    font-size: 16px;
    color: #121212;
}
.explore-menu-item-card.active {
    /* highlight selected card with orange ring (no layout shift) */
   border: 2px solid #ff6347;
   padding: 36px;
    border-radius: 50%;
}

.explore-menu-item-card:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255,99,71,0.6);
}

.explore-menu-container hr {
    margin-top: 40px;
    border: 2px solid #ff6347;
    border-top: 2px solid #a29f9f;
}

@media (max-width: 1024px) {
    .explore-menu-item {
        flex: 1 1 calc(33.33% - 24px);
        max-width: calc(33.33% - 24px);
    }
}
@media (max-width: 768px) {
    .explore-menu-item {
        flex: 1 1 calc(50% - 24px);
        max-width: calc(50% - 24px);
    }
}
/*  flex: 1 1 calc(50% - 24px); 
    grow, shrink, basis 
    grow: 1 (can grow if needed) item allowed to grow if space available
    shrink: 1 (can shrink if needed) item allowed to shrink if space is limited
    basis: calc(50% - 24px) initial size before growing or shrinking, it means each item will take up half the container width minus 24px for gap
    so on mobile or tablet screens, each menu item will take up about half the width of the container with space between them
 */



