.verify {
    min-height: 60vh;
    display: grid;
}
.verify .spinner{
    width: 80px;
    height: 80px;
    border: 6px solid rgb(248, 222, 171);
    border-top-color: tomato;
    border-radius: 50%;
    animation: rotate 1s infinite;
}
@keyframes rotate{
    100% {
        transform: rotate(360deg);
    }
}